.container{
  width: calc(100% - 200px);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.card{
  width: 300px;
  border: 1px solid #000;
}

.card-image{
  height: 300px;
  background-size: cover;
  background-position: center;
}

.image-1{
  background-image: url(../photos/EfelTower.jpg);
}

.image-2{
  background-image: url(../photos/tyuilri.jpg);
}

.image-3{
  background-image: url(../photos/Mon.jpg);
}
