@media (min-width: 1441px) {
  .img .desktop{
    display: none;
  }

  .img .desktop-xl{
    display: block;
    color: blue;
  }

  .img .imgdesk{
    display: none;
  }

  .img .imgdesk-xl{
    display: block;
  }
}
