@media (max-width: 767px) {
  .img .desktop{
    display: none;
  }

  .img .mobile{
    display: block;
    color: red;
  }

  .img .imgdesk {
    display: none;
  }

  .img .imgmob {
    display: block;
  }
}
