@media (min-width: 768px) and (max-width: 1023px) {
  .img .desktop {
    display: none;
  }

  .img .tablet {
    display: block;
    color: white;
  }

  .img .imgdesk {
    display: none;
  }

  .img .imgtab {
    display: block;
  }
}
