body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Sans Caption', sans-serif;

  background-image: url(../img/mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;

  width: 700px;

  margin: 60px auto;
}

p {
  font-size: 21px;
  line-height: 26px;
  margin: 40px auto;
}

h1 {
  font-size: 40px;
  line-height: 1.4em;
  font-weight: bold;
  margin-bottom: 0px;
}

h1 + p {
  color: rgba(0,0,0,.3);
  font-size: 22px;
  line-height: inherit;
  font-weight: bold;
  margin-top: 0px;
}

h1 + p + p {
  font-size: 21px;
  font-weight: 500;
}

a {
  color: black;
}

a, a:visited {
  color: inherit;
}

h2 {
  font-size: 31px;
  color: rgba(0,0,0,.8);
  font-weight: bold;
  margin-bottom: 0px;
}

h2 + p {
  margin-top: 0px;
}

h3 {
  font-size: 28px;
  color: rgba(0,0,0,.8);
  font-weight: bold;
  margin-bottom: 0px;
}

h3 + p {
  margin-top: 0px;
}

blockquote {
  font-size: 21px;
  line-height: 26px;
  font-style: italic;
}

ul {
  font-size: 21px;
  line-height: 26px;
}

li {
  margin-top: 17px;
}
